{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
    <h1 class="my-4">{{ title }}</h1>
    <form class="form-inline center my-auto" method="get">
        {% csrf_token %}
        {% bootstrap_form filter.form form_group_class="form-group" field_class="ml-2 mr-3"%}
        {% bootstrap_button button_text button_type="submit" button_class="btn-primary" %}
    </form>
    <a class="nav-link" href="{% url 'tasks:create' %}">{% translate "Create task" %}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Status' %}</th>
                <th>{% translate 'Author' %}</th>
                <th>{% translate 'Executor' %}</th>
                <th>{% translate 'Creation date' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a href="{% url 'tasks:details' task.id %}">{{ task.name }}</a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'tasks:update' task.id %}">{% translate "Update" %}</a>
                    <br>
                    <a href="{% url 'tasks:delete' task.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}