{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% translate 'Task manager' %}{% endblock title %}</title>
  </head>
  <body class='d-flex flex-column min-vh-100'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">{% translate "Task Manager" %}</a>
        <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/users/">{% translate "Users" %}</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'statuses:statuses_list' %}">{% translate 'Statuses' %}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'labels:labels_list' %}">{% translate 'Labels' %}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'tasks:tasks_list' %}">{% translate 'Tasks' %}</a>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li  class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">{% translate 'Log out' %}</a>
            </li>
            {% else %}
            <li  class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% translate 'Log in' %}</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="{% url 'users:create_user' %}">{% translate 'Sign up' %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <main>
        <div class="container wrapper flex-grow-1">
          <div class="card">
            <div class="card-body p-5 bg-light mt-5 pt-4 pb-16">
    {% block content %}
    {% endblock content %}
            </div>
          </div>
        </div>
      </main>
  </body>
</html>